@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">jacobrichardson407@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">jacobrichardson407@gmail.com</a>
</address>