body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("Images/bassbackground.jpg");
    background-size: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(255 255 255 / 0.65);
    box-shadow: inset black 0 0 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#navbarSupportedContent{
    color: white;
}