body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("Images/bassbackground.jpg");
    background-size: auto;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 10em;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(255 255 255 / 0.65);
    box-shadow: inset black 0 0 10px;
}
.body-content h1{
    text-align: center;
    color: lightblue;
    text-shadow: black 0 0 4px;
}
.body-content h2 {
    color: lightblue;
    text-shadow: black 0 0 4px;
}
footer {
    text-align: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#navbarSupportedContent{
    color: white;
}
nav{
    font-weight: bolder;
    text-shadow: 0 0 7px lightblue;
    background-color: rgb(0 0 0 / 0.45);
    box-shadow: 0 0 10px lightblue;
}
.table td {
    color: lightblue;
    text-shadow: black 0 0 5px;
}
.table td a {
    color: lightblue;
    text-shadow: black 0 0 5px;
}
dl dd {
    color: lightblue;
    text-shadow: black 0 0 5px;
}
h2#delete {
    color: red;
    text-shadow: black 0 0 5px;
}
h2#create {
    color: #00c01f;
    text-shadow: black 0 0 5px;



}